<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="7.1.1" targetFramework="net461" />
  <package id="dt_UtilityHelper" version="1.2.9-alpha" targetFramework="net461" />
  <package id="dt_UtilityInterface" version="1.0.7" targetFramework="net461" />
  <package id="DynamicData" version="6.5.1.2479" targetFramework="net461" />
  <package id="GenericParsing" version="1.2.0" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.4.0.1044" targetFramework="net461" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net461" />
  <package id="OxyPlot.Wpf" version="1.0.0" targetFramework="net461" />
  <package id="PropertyTools.Wpf" version="2.0.1" targetFramework="net461" />
  <package id="ReactiveProperty" version="5.3.0" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net461" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="UtilityEnum" version="1.0.8-alpha" targetFramework="net461" />
</packages>